<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                          <h2>DESCRIPCION COLUMNAS</h2>  
                    <form action="/items1/add" method="POST">
                        <div class="form-group"><input class="form-control" type="text" name="columnaA" placeholder="columnaA" autofocus /> </div>
                        <div class="form-group"><input class="form-control" type="text" name="columnaB" placeholder="columnaB"  /> </div>
                        <div class="form-group"><input class="form-control" type="text" name="columnaC" placeholder="columnaC"  /> </div>
                        <div class="form-group"><input class="form-control" type="text" name="columnaD" placeholder="columnaD" />  </div>
                        <div class="form-group"><input class="form-control" type="text" name="columnaE" placeholder="columnaE"  />  </div>
                        <div class="form-group"><input class="form-control" type="text" name="columnaF" placeholder="columnaF"/> </div>
                        <div class="form-group"><input class="form-control" type="text" name="columnaG" placeholder="columnaG" /> </div>
                        <button class="btn btn-success btn-block">Guardar</button>
                 </form>
            </div>
        </div>
    </div>
</div>

