<div class="fondo">
    {{!-- <header class="masthead d-flex"> --}}
        <div class="container text-center">
            <h1 class="mb-1">BIENVENIDO A LA NUEVA APP EN NODEJS </h1>
            <h3 class="mb-5">
                <em>Esta app sirve para lo que quieras...</em>
            </h3>
            <a href="/signin" class="btn btn-primary"> Let´s get started</a>
        </div>
 {{!--    </header> --}}
 </div>

